		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
				  <!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>

					<div class="ekanou">
						<ul class="menu">
							<li>Page maintained by Evangelos Kanoulas</li>
						</ul>
					</div>

			</div>

	</body>
</html>
