<!DOCTYPE HTML>

<html>
	<head>
		<title>Evaluation in Practice</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Evaluation has played a key-role in the development of Information Retrieval systems; traditionaly it takes two forms, a batch collection-based evaluation, and a in-situ evaluation. The former allows for reproducable results and it is highly reusable, while the latter offers a greater fidelity with the user being part of the evaluation. This page is dedicated to evaluation methods for information retrieval (search and recommender systems). " />
		<meta name="keywords" content="information retrieval, search, recsys, recommender systems, evaluation, TREC, interleaving, A/B testing, resources, collections, CLEF" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
		
	    		<nav id="nav">
        			<ul>
            			<li><a href="{{ site.baseurl }}/">Home</a></li>
            			<li><a href="{{ site.baseurl }}#Topics">Topics</a></li>
            			{% for page in site.pages %}
                  			{% if page.title %}
                    				<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  			{% endif %}
            			{% endfor %}
        			</ul>
    	    	</nav>
				<h1><a href="{{ site.baseurl }}/index.html" id="logo"><em>Evaluation</em> in Practice</a></h1>
			
			</div>
